/* style.css */
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
}
ul{ list-style-type: none;}
a{
  text-decoration: none;
  color: #444;
}
body {
  background: #fff;
  color: #444;
  font-size: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  min-width: 1200px; /* 배경 잘림 방지 */
}
.img_responsive{ width: 100%;}

/* 기본 틀 1200px */
.container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /* outline: 1px solid red; */
}


/* 헤더 */
#main_header {
  height: 126px;
  /* background: #ccc; */
  text-align: center;
}
#main_header h1 {
  position: absolute;
  left: 0px; top: 37px;
}
#main_header #util_menu{
  position: absolute;
  right: 0px; top: 53px;
  font-size: 24px;
}
#main_header #util_menu > a {
  margin-left: 10px;
}

/* 검색창 */
#search_box {
  width: 540px; height: 55px;
  display: inline-block;
  border: 1px solid #999;
  text-align: left;
  margin-top: 40px;
}
#search_box input, 
#search_box button {
  font-size: 14px;
  color: #444;
  border: none;
}
#search_box button{ 
  cursor: pointer;
  float: right;
  font-size: 32px;
  padding: 5px;
  background: none;
  border: none;
  margin-top: 5px;
  margin-right: 10px;
}
#search_box > input {
  width: 470px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 1em;
  margin-top: 2px;  /* 상단 위치 보정값 */
}


/* 메인 GNB */
#main_gnb {
  /* background: #ccc; */
  border-bottom: 1px solid #ccc;
}
#main_gnb .container {
  overflow: hidden;
}
#category_btn {
  font-size: 16px;
  float: left;
  /* 브랜드 메인 컬러 */
  background: #e51b23;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 15px 40px 15px 20px;
  cursor: pointer;
}
#category_btn > i { 
  font-size: 24px;
  margin-right: 14px;
}
#category_btn > span { 
  display: inline-block;
  /* outline: 1px solid red; */
  transform: translateY(-4px);
}
#main_gnb ul {
  float: left;
  margin-left: 20px;
  height: 55px;
  /* outline: 1px solid green; */
}
#main_gnb ul > li { 
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
#main_gnb ul > li > a {
  display: block;
  padding: 19px 0px 15px 0px;
  font-weight: bold;
}

/* 메인배너 */
#main_banner { 
  position: relative;
  height: 400px;
  overflow: hidden;
}
/* 배경 높이값 고정 & 위치 중앙 고정 */
#main_banner .inner{
  width: 1920px; height: 400px;
  position: absolute;
  /* 중앙정렬 */
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  /* outline: 2px solid red; */
}

/* bx slider 테두리 제거 */
.bx-wrapper{
  border: none !important;
  box-shadow: none !important;
}

/* 인디케이터 위치 조정 */
.bx-pager { 
  bottom: 20px !important;
}


/* top seller */
#top_seller {
  text-align: center;
  padding: 50px 0;
  overflow: hidden;
  /* outline: 1px solid red; */
}
#top_seller h2 {
  margin-bottom: 50px;
  font-size: 24px;
}
#top_seller ul > li {
  /* outline: 1px solid green; */
  width: 224px;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
#top_seller ul > li:nth-child(5n){ 
  margin-right: 0;
}
#top_seller ul > li img {
  margin-bottom: 1em;
  display: block;
}
#top_seller ul > li .title {
  font-size: 14px;
  display: block;
  font-weight: bold;
  margin-bottom: 1.5em;
}
#top_seller ul > li .name {
  font-size: 14px;
  display: block;
  margin-bottom: 0.5em;
  
  /* 글자 중략 처리 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#top_seller ul > li .origin_price {
  font-size: 14px;
  display: block;
  color: #999;
  margin-bottom: 0.5em;
}

#top_seller ul > li .sale_price {
  text-decoration: none;
}


/* 브랜드 추천 */
#brand {
  text-align: center;
  padding: 50px 0; 
  overflow: hidden;
}
#brand h2 {
  margin-bottom: 50px;
  font-size: 24px;  
}
#brand .container ul.brand-slider > li > a {
  display: block;
  height: 465px;
  /* outline: 1px solid red; */
  color: #fff;
}

#brand .container .bx-viewport{
  /* outline: 1px solid red; */
}
#brand .container ul.brand-slider > li {
  position: relative;
  /* outline: 1px solid green; */
  width: 386.66px !important;
  height: 465px;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px; 
  background: #efefef;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
}
#brand ul.brand-slider > li:last-child{ 
  margin-right: 0;
}

/* 브랜드 목록 배경이미지 */
#brand ul.brand-slider > li[data-num='1'] {
  /* 이미지 높이값: 340px */
  background-image: url("http://placeimg.com/387/340/1");
  background-repeat: no-repeat;
}
#brand ul.brand-slider > li[data-num='2'] {
  background-image: url("http://placeimg.com/387/340/2");
  background-repeat: no-repeat;
}
#brand ul.brand-slider > li[data-num='3'] {
  background-image: url("http://placeimg.com/387/340/3");
  background-repeat: no-repeat;
}
#brand ul.brand-slider > li[data-num='4'] {
  background-image: url("http://placeimg.com/387/340/4");
  background-repeat: no-repeat;
}

/* 브랜드 배너 텍스트 배치 */
#brand .container ul.brand-sliderl > li > a {
  color: #fff;
}
#brand .container ul.brand-slider > li .title {
  position: absolute;
  font-size: 32px;
  left: 30px; top: 30px;
}
#brand .container ul.brand-slider > li i {
  position: absolute;
  right: 30px; top: 30px;
  font-size: 48px;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.6);
}
#brand .container .hash_tag {
  position: absolute;
  left: 30px; bottom: 140px;
  text-align: left;
}
#brand .container .hash_tag > li {
  width: auto;
  margin-bottom: 8px;
  padding: 10px;
  background:rgba(0,0,0, 0.4);
  display: inline-block;

}
#brand .container .text {
  position: absolute;
  width: 100%;
  left: 0; bottom: 0;
  color: #444;
  text-align: center;
  /* outline: 1px solid red; */
  margin-bottom: 20px;
}
#brand .container .text > li {
  line-height: 1.8em;
}
#brand .container .text .subject {
  border: 1px solid #444;
  width: 5em;
  display: inline-block;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 5px;
}
#brand .container .text .day {
  color: #666;
}
#brand .container .text h4 {
  font-size: 20px;
}


/* 카테고리 메뉴 */
#category {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: 99;
  display: none;
}
#category dl {
  float: left;
  width: 20%;
  padding: 20px;
  text-transform: uppercase; /* 대문자 */
  line-height: 2em;
}
#category dl dt {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #444;
}
